button{
    background-color: yellow;
    padding: 10px;
    margin-left: 40%;
    font-size: 2rem;
    font-weight: 600;
margin-bottom: 10px;
}
button:hover{
    background-color: black;
    color: white;
}